@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --lightColor: #FFF8EF;
    --darkColor: #111111;
    --accentColor: #35b084;
    --fontSize: 16px;
    --fontFamily: 'Poppins', sans-serif;
    --defaultColSize: 1280px;
    --smallColSize: 1000px;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: var(--fontSize);
    font-family: var(--fontFamily);
    font-weight: normal;
    font-style: normal;
    color: var(--darkColor);
    background: var(--lightColor);
    position: relative;
}

a, a:visited {
    text-decoration: underline;
    color: var(--darkColor);
}

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

div.row {
    display: flex;
    justify-content: center;
}

div.col {
    max-width: var(--defaultColSize);
    width: 100%;
    margin: 0 10px;
}

div.col-xs {
    max-width: var(--smallColSize);
    width: 100%;
    margin: 0 10px;
}