/* /Pages/Archive.razor.rz.scp.css */
.archive-img-container[b-alkugj1hxz] {
    margin: 30px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.archive-img-container > img[b-alkugj1hxz] {
    display: block;
    max-width: 600px;
    width: 100%;
    line-height: 0;
    border-radius: 15px;
    box-shadow: rgba(0,0,0,0.3) 0 5px 10px;
    margin-bottom: 50px;
}
/* /Pages/Index.razor.rz.scp.css */
.page-title-cont[b-8t2xa0cbwv] {
    margin: 25px 0;
}

.home-banner[b-8t2xa0cbwv] {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-image: url('assets/home-banner.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}

.home-banner[b-8t2xa0cbwv]::before {
    content: '';
    padding-top: 50%;
    display: inline-block;
}

.img-credit[b-8t2xa0cbwv] {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3px 15px;
    font-size: 0.8em;
    color: var(--lightColor);
    background: rgba(0,0,0, 0.6);
}

.challenge-description[b-8t2xa0cbwv] {
    margin: 25px 0;
}

.twitch-link[b-8t2xa0cbwv] {
    color: #BE14E9;
    text-decoration: underline;
}

.prompt-list[b-8t2xa0cbwv] {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

[b-8t2xa0cbwv] .prompt-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: calc((var(--smallColSize) / 3) - 20px);
    width: 100%;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: rgba(0,0,0,0.4) 0 10px 15px;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    transition: .25s ease;
}

[b-8t2xa0cbwv] .prompt-card:hover,
[b-8t2xa0cbwv] .prompt-card:active {
    transform: scale(1.01);
}

[b-8t2xa0cbwv] .prompt-card-image {
    position: relative;
    background-position: center;
    background-size: cover;
    width: 100%;
}

[b-8t2xa0cbwv] .prompt-card-image::before {
    content: '';
    display: inline-block;
    padding-top: 100%;
}

[b-8t2xa0cbwv] .prompt-card-text {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

[b-8t2xa0cbwv] .prompt-card-text .prompt-card-title {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

[b-8t2xa0cbwv] .prompt-card-text .prompt-card-day {
    font-size: 0.9rem;
    opacity: 0.7;
}

[b-8t2xa0cbwv] .prompt-card-text .prompt-card-description {
    font-size: 0.9rem;
    margin-top: 10px;
}

@media only screen and (max-width: 1024px) {

    .prompt-list[b-8t2xa0cbwv] {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    [b-8t2xa0cbwv] .prompt-card {
        max-width: 400px;
    }

}
/* /Pages/NotFound.razor.rz.scp.css */
.empty-container[b-u5tg1ha1fw] {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 50px;
}

.empty-container > i[b-u5tg1ha1fw] {
    font-size: 6rem;
    display: inline-block;
    margin-bottom: 20px;
}

[b-u5tg1ha1fw] .empty-container .home-link {
    color: var(--accentColor);
    text-decoration: underline;
}
/* /Pages/Prompt.razor.rz.scp.css */
.image-wrapper[b-qryjmxo9so] {
    width: 100%;
    margin: 20px 0;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

.image-wrapper > img[b-qryjmxo9so] {
    width: 100%;
    display: block;
    line-height: 0;
}

.image-wrapper .image-credit[b-qryjmxo9so] {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    color: var(--lightColor);
    padding: 7px 10px;
    font-size: 0.8rem;
    font-style: italic;
}

.image-wrapper.desktop[b-qryjmxo9so] {
    display: block;
}

.image-wrapper.mobile[b-qryjmxo9so] {
    display: none;
}

[b-qryjmxo9so] .back-link {
    margin-top: 20px;
    display: inline-block;
}

[b-qryjmxo9so] .back-link > i {
    display: inline-block;
    margin-right: 5px;
    font-size: 0.8em;
}

.genre-desc[b-qryjmxo9so] {
    margin: 10px 0 20px 0;
}

.prompt-day-text[b-qryjmxo9so] {
    display: inline-block;
    margin: 5px 0;
}

.btns-container[b-qryjmxo9so] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.btns-container[b-qryjmxo9so]  .link-btn {
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 10px;
    color: var(--lightColor);
    background: var(--accentColor);
    border: solid 2px var(--accentColor);
    transition: .25s ease;
}

.btns-container[b-qryjmxo9so]  .link-btn:hover,
.btns-container[b-qryjmxo9so]  .link-btn:active {
    background: var(--lightColor);
    color: var(--accentColor);
}

.btns-container[b-qryjmxo9so]  .link-btn .fa-arrow-left {
    margin-right: 5px;
    font-size: 0.8rem;
}

.btns-container[b-qryjmxo9so]  .link-btn .fa-arrow-right {
    margin-left: 5px;
    font-size: 0.8rem;
}

@media only screen and (max-width: 1024px) {

    .image-wrapper.mobile[b-qryjmxo9so] {
        display: block;
    }

    .image-wrapper.desktop[b-qryjmxo9so] {
        display: none;
    }

    .btns-container[b-qryjmxo9so] {
        flex-direction: column;
    }

    .btns-container[b-qryjmxo9so]  .link-btn {
        margin: 5px;
    }
}
/* /Pages/Shared/Footer.razor.rz.scp.css */
.footer[b-gyeaqtux5v] {
    display: flex;
    justify-content: center;
    border-top: #D9CF95 solid 1px;
}

.footer-text[b-gyeaqtux5v] {
    margin: 10px;
    font-size: 0.8rem;
    opacity: 0.8;
}
/* /Pages/Shared/MainLayout.razor.rz.scp.css */
.main-content[b-xzdrz8pqk5] {
    position: relative;
    min-height: 500px;
}
/* /Pages/Shared/Navbar.razor.rz.scp.css */
.site-navbar[b-fdn2cmw8a6] {
    border-bottom: solid 1px #D9CF95;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: var(--lightColor);
}

.navbar-col[b-fdn2cmw8a6] {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 10px;
}

.desktop-navbar-links[b-fdn2cmw8a6] {
    display: flex;
}

[b-fdn2cmw8a6] .desktop-link-item {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
    text-decoration: none;
}

.burger-menu[b-fdn2cmw8a6] {
    display: none;
    font-size: 1.3rem;
    padding: 5px;
    cursor: pointer;
}

.burger-menu-overlay[b-fdn2cmw8a6] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}

.burger-menu-overlay .side-bar[b-fdn2cmw8a6] {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 300px;
    width: 100%;
    height: 100%;
    background: var(--lightColor);
    display: flex;
    flex-direction: column;
}

[b-fdn2cmw8a6] .sidebar-links {
    margin: 10px 30px;
    text-decoration: none;
    font-weight: bold;
}

.burger-menu-overlay .side-bar i.fa-times[b-fdn2cmw8a6] {
    font-size: 1.3rem;
    padding: 10px;
    align-self: flex-end;
    cursor: pointer;
}

[b-fdn2cmw8a6] .navbar-logo {
    max-width: 50px;
    display: inline-block;
    line-height: 0;
}

[b-fdn2cmw8a6] .navbar-logo > img {
    width: 100%;
}

.navbar-placeholder[b-fdn2cmw8a6] {
    display: block;
    height: 71px;
}

@media only screen and (max-width: 1024px) {

    .desktop-navbar-links[b-fdn2cmw8a6] {
        display: none;
    }

    .burger-menu[b-fdn2cmw8a6] {
        display: inline-block;
    }

    .burger-menu-overlay[b-fdn2cmw8a6] {
        display: block;
    }

}
